<nav class="rail" aria-label="Sektioner">
{%- for i in ["01","02","03","04","05"] %}
  <a class="rail-i" href="#s{{ i }}"><span class="n">{{ i }}</span><span class="dot"></span></a>
{%- endfor %}
</nav>
